# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
logs/
*.log
npm-debug.log*

# Cobertura de pruebas
coverage/

# Archivos de sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
